muledataweave/target/classes/muledataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="toUpper-TransformMsg-Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/toUpper" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
users: ["john", "peter", "matt"] map  upper $]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="toUpper-setPayload-Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/toUpper1" allowedMethods="GET" doc:name="HTTP"/>
		<set-payload value="#['Matt'.toUpperCase()]" doc:name="Set Payload"/>
	</flow>
	<flow name="toUpper-position-1-TM-Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/toUpper2" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
users: ["john", "peter", "matt"] map ((firstName, position) -> position ++ ":" ++ upper firstName)]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="toUpper-position-2-TM-Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/toUpper3" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
users: ['Jo', 'Ken'] map ((firstname, position) -> position ++ ":" ++ upper firstname)]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="toLower1Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/toLower1" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
name: ["Jo", "John"] map lower $]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="arraySizeOf1Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/sizeOf1" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
arraySize: sizeOf ["Jo", "John", "Matt", "Josh", "Allen", "Speed"]]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="arrayPushFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/arrayPush" allowedMethods="GET" doc:name="Copy_of_HTTP"/>
		<dw:transform-message doc:name="Copy_of_Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	arraySize: sizeOf ["Jo", "John", "Matt", "Josh", "Allen", "Speed"],
	arrayPush: [0, 1, 2]+5
}]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="textSizeFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/textSize" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	textSize: sizeOf "Mulesoft"
}]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="flattenFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/flatten" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
flatten [
	[1,2],
	[94,5],
	[69,94],
	[827,0.009983,2]
]]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="filterFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/filter" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	biggerThanTwo: [0, 1, 2, 3, 4, 5]  filter $>2
}]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="removeFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/remove" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	aa: ["a","b","c","d","e","f"] - 4
}]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="removeObjectFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/remove1" allowedMethods="GET" doc:name="Copy_of_HTTP"/>
		<dw:transform-message doc:name="Copy_of_Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	myObject: {aa: "a", bb: "b",cc: "c",dd: "d"} - "bb",
	sizeOf: sizeOf ({aa: "a", bb: "b",cc: "c",dd: "d"} - "bb")
}
]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="removeMatchingKeysObjectFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/remove2" allowedMethods="GET" doc:name="Copy_of_Copy_of_HTTP"/>
		<dw:transform-message doc:name="Copy_of_Copy_of_Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	myObject: {aa: "a", bb: "b",cc: "c",dd: "d"} -- {aa:"a", cc:"cc"}
}
]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="removeMatchingKeysObject1Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/remove3" allowedMethods="GET" doc:name="Copy_of_Copy_of_Copy_of_HTTP"/>
		<dw:transform-message doc:name="Copy_of_Copy_of_Copy_of_Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	myObject: {aa: "a", bb: "b",cc: "c",dd: "d"} -- {aa:"a"}
}
]]></dw:set-payload>
		</dw:transform-message>
	</flow>
</mule>
