muledataweave/target/classes/muledataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="toUpper-TransformMsg-Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/toUpper" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
users: ["john", "peter", "matt"] map  upper $]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="toUpper-setPayload-Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/toUpper1" allowedMethods="GET" doc:name="HTTP"/>
		<set-payload value="#['Matt'.toUpperCase()]" doc:name="Set Payload"/>
	</flow>
	<flow name="toUpper-position-1-TM-Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/toUpper2" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
users: ["john", "peter", "matt"] map ((firstName, position) -> position ++ ":" ++ upper firstName)]]></dw:set-payload>
		</dw:transform-message>
	</flow>
	<flow name="toUpper-position-2-TM-Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/toUpper3" allowedMethods="GET" doc:name="HTTP"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
users: ['Jo', 'Ken'] map ((firstname, position) -> position ++ ":" ++ upper firstname)]]></dw:set-payload>
		</dw:transform-message>
	</flow>
</mule>
